<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Stockpick.Forms" description="Feature.Stockpick.Forms" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']">
                   <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                    <include name="Submit.LogSubmit" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Log Submit" />
                    <include name="Submit.QueueStore" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Queue Store" />
                    <include name="Validation.NameValidation" database="master" path="/sitecore/system/Settings/Forms/Validations/Name Validation" />

                    <!-- adding validations to single-line text Warnig this modified an ootb Sitecore item-->
                    <include name="FieldTypes.BasicSingleLineText" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/Single-line text" />
                    <include name="Core.SingleLineText.Validation" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/SingleLineText/Validation" />
                     
                   </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>