<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Stockpick.Forms.AzureQueue.Connectionstring" value="DefaultEndpointsProtocol=https;AccountName=sitecoreforms;AccountKey=1ZelEITHetTa/PaoPUD4N1GWJ32lrqsqL+Sw+wvt/xPW7u27kBtgWtTNQYcPV7hcY2rmYOc1Y3GRmgthHfNs8Q==;EndpointSuffix=core.windows.net"/>
      </settings>
    </sitecore>
</configuration>