<?xml version="1.0"?>
<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="MailServer" set:value="localhost"/>
      <setting name="MailServerUserName" set:value=""/>
      <setting name="MailServerPassword" set:value=""/>
      <setting name="MailServerPort" set:value="25"/>
    </settings>
  </sitecore>
</configuration>