<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>

                <configuration name="Feature.Stockpick.Forms" description="Feature.Stockpick.Forms" dependencies="Foundation.*" patch:after="configuration[@name='Foundation.Serialization']">

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <include name="Submit.LogSubmit" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Log Submit" />
                        <include name="Submit.QueueStore" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Queue Store" />
                        <include name="Validation.NameValidation" database="master" path="/sitecore/system/Settings/Forms/Validations/Name Validation" />

                        <!-- adding validations to single-line text Warnig this modified an ootb Sitecore item-->
                        <include name="FieldTypes.BasicSingleLineText" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/Single-line text" />
                        <include name="FieldTypes.Hidden" database="master" path="/sitecore/system/Settings/Forms/Field Types/Basic/Hidden" />
                        <include name="Core.SingleLineText.Validation" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/SingleLineText/Validation" />
                        <include name="Core.Settings.Hidden" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/Hidden" />

                        <!--@rpeplau - Send E-mail Action - BEGIN -->
                        <!-- Templates -->
                        <include name="Master.Feature.ExperienceForms.Templates" database="master" path="/sitecore/templates/FormsExtensionPack" />
                        <!--Dictionary Items-->
                        <include name="Master.Feature.ExperienceForms.Dictionary" database="master" path="/sitecore/system/Dictionary/Forms" />
                        <include name="Master.Submit.SendEmail.Action" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/SendEmailMessage" />
                        <include name="Master.Submit.Templates" database="master" path="/sitecore/system/Settings/Forms/EmailTemplates" />
                        <include name="Core.Layouts.Actions.SendEmailMessage" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/SendEmailMessage" />
                        <!--@rpeplau - Send E-mail Action - END -->

                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>